<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">About</h3>
    <p>
      Hi, I'm {{ site.author.name }}, robotics engineer from Germany. On this blog I write about my latest projects, thoughts and experiences.
    </p>
    <hr/>
    <ul class="socialAccountList">
      <li><a href="https://github.com/{{ site.author.github }}" target="_blank">
          <i class="fa fa-github-square fa-2x fa-fw"></i>
      </a></li>
      <li><a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
          <i class="fa fa-linkedin-square fa-2x fa-fw"></i>
      </a></li>
    </ul>
  </div>
</section>
